<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h2 style="font-size:3.5em">¡Bienvenido Administrador!</h2>
        <div>
            <div style="float: left">
                <img style="width:240px;" src="https://banjoriconsulting.com/wp-content/uploads/2018/03/brad_tablet_presenting_side_500_clr_21369.gif" alt="Animación de bienvenida" />
            </div>
            <div style="text-align:center">
                <br><br><br><br><br><br><br><br>
                <h2 style="font-size:3.5em" color="orange">PROYECTO FARMACIA GRUPO #2 LENGUAJE DE PROGRAMACIÓN III</h2>
            </div>
        </div>
       
       
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h2 style="font-size:3.5em">¡Bienvenido Usuario!</h2>
        <div>
            <div style="float: left">
                <img style="width:250px;" src="https://i.pinimg.com/originals/8f/ae/6e/8fae6e309038321e0aa630b8e932c7bd.gif"
                     alt="Animación de usuario" />
            </div>
            <div style="text-align:center">
                <br><br><br><br><br><br><br><br>
                <h2 style="font-size:3.5em" color="orange">PROYECTO FARMACIA GRUPO #2 LENGUAJE DE PROGRAMACIÓN III</h2>
            </div>
        </div>
       
    </Authorized>
</AuthorizeView>